:root {
  color-scheme: light dark;
  --bg: light-dark(white, #2c2c2c);
  --text: light-dark(#2c2c2c, #e4e4e4);
  --primary: light-dark(#2c3e50, #9ec7f7);
  --secondary: #29c056;
  --btn-bg: light-dark(#f0f0f0, #1b1b1b);
  --btn-text: light-dark(#217346, #66ffb2);
  --btn-hover-bg: light-dark(#1b5e3c, #29c056);
  --btn-hover-text: light-dark(#f0f0f0, #000);
  --table-bg: light-dark(white, #1e1e1e);
  --table-border: light-dark(#ddd, #444);
  --table-header-bg: light-dark(#2c3e50, #2a2a2a);
  --table-header-text: light-dark(white, #eaeaea);
  --table-row-hover: light-dark(#29c056, #2a754a);
  --hover-row: light-dark(#29c056, #2a754a);
  --scroll-btn-bg: light-dark(#333333bf, #666666bf);
  --scroll-btn-hover: light-dark(#2c3e50, #66aaff);
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: var(--bg);
  color: var(--text);
}


h1 {
  text-align: center;
  color: var(--primary);
  padding: 15px;
  margin-bottom: 10px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
  justify-content: space-evenly;
}

.filters input, .filters select, .filters button {
  padding: 8px;
  font-size: 14px;
}

#buildingCheckboxes {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 1px 15px;
}

legend {
    margin: auto;
    padding: 0 15px;
}

#buildingCheckboxes label {
  display: flex;
  align-items: center;
  gap: 3px;
}
#btnExportExcel {
  display: inline-flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 7px;
  font-size: 1rem;
  background-color: var(--btn-bg);
  color: var(--btn-text);
  border: 1px solid #ccc;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

#btnExportExcel img {
  height: 24px;
  width: 24px;
}

#btnExportExcel:hover {
  background-color: var(--btn-hover-bg);
  color: var(--btn-hover-text);
}

table {
  width: 100%;
  border-collapse: collapse;
  background: var(--table-bg);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

thead {
  background: var(--table-header-bg);
  color: var(--table-header-text);
}

th, td {
  padding: 10px;
  border: 1px solid var(--table-border);
  text-align: left;
}

tbody tr:hover {
  background-color: var(--table-row-hover);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: 10px;
}

input {
  accent-color: var(--secondary);
}

.filters button, #submitButton {
  position: relative;
  overflow: hidden; /*empêche le after de dépasser visuellement*/
  z-index: 0;
  letter-spacing: 1px;
  cursor: pointer;
}

.filters button::after, #submitButton::after {
  background-color: var(--primary);
  content: '';
  display: block;
  height: 110%;
  width: 110%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%,0) rotate(10deg); /*fais démarrer le after hors du bouton avec une petite rotation*/
  transform-origin: top left; /*la transformation se fait à partir du coin haut gauche*/
  transition: 0.2s transform ease-out;
  z-index: -1; /*after sous le bouton pour ne pas le masquer*/
}

.filters button:hover::after, #submitButton:hover::after {
  transform: translate(0,0); /*after glisse depuis la gauche jusqu'à recouvrir le bouton grâce à transition*/
}

.filters button:hover, #submitButton:hover {
  color: white;
}

#scrollToTopButton {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s, color 0.3s;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  bottom: 20px;
  right: 30px;
  border: none;
  border-radius: 25px;
  outline: none;
  width: 50px;
  height: 50px;
  padding-bottom: 5px;
  background-color: var(--scroll-btn-bg);
  font-size: 24px;
  text-align: center;
}

#scrollToTopButton:hover,
#scrollToTopButton:focus,
#scrollToTopButton:focus-within {
  cursor: pointer;
  background-color: var(--scroll-btn-hover);
  color: white;
}
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 400px;
  margin: auto;

  & h2 {
    margin-top: 20px;
  }

  & input, & textarea, & button {
    margin-top: 15px;
    padding: 10px;

  }
}

#capacityChart {
  max-width: 80%;
  max-height: 800px;
  width: 100%;
  height: auto;
  margin: 15px auto;
}



@media ( max-width: 800px ) { 
  table thead {
    display: none;
  }
  table tbody {
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
  }
  table tbody tr, table tbody td {
    display: block;
    border: 0;
  }
  table tbody td {
    padding: 4px;
    font-weight: bold;
  }
  table tbody td:before {
  content: attr(data-name);
  width: 100px;
  display: inline-block;
  text-transform: capitalize;
  font-weight: normal;
  }
  table tbody td.status {
    position: absolute;
    top: 4px;
    right: 4px;
  }
  table tbody tr {
    position: relative;
    /* width: calc(50% - 8px); */
    width: 90%;
    border: 1px solid #E7E7E7;
    padding: 8px;
    /* margin: 4px; */
    margin: 5px auto;
  }
  tbody tr:hover {
  background-color: transparent;
}

  #contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 90%;
  margin: auto;

  & h2 {
    font-size: 18px;
  }

  & input, & textarea, & button {
    margin-top: 10px;
    padding: 10px;

  }
}

}